<!DOCTYPE html>

<html>
    <head>
        <meta charset = "utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Sriracha&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="styles.css">
        <title>Linked Lists</title>
    </head>

    <body>
        <script src="index.js" type="text/javascript"></script>
        <h1 class = "h1Title">Linked List Visualizer</h1>
        <div class = "container">
            <div class = "buttonSection">
                <div class ="eachButton">
                    <button class = "btn btn1">Delete Entire Linked List</button>
                </div>
                <div class ="eachButton">
                    <button class = "btn btn2">Insert at Head</button>
                    <input type="text" class = "text input" placeholder ="Enter value">
                </div>
                <div class ="eachButton">
                    <button class = "btn btn3">Insert at Tail</button>
                    <input type="text" class = "text input" placeholder="Enter value">
                </div>
                <div class ="eachButton">
                    <button class = "btn btn4">Insert at Index</button>
                    <div class = "input">
                        <input type="text" class = "text2 input" placeholder = "Index">
                        <input type="text" class = "text2 input" placeholder = "Value">
                    </div>
                </div>
                <div class ="eachButton">
                    <button class = "btn btn5">Delete by Value</button>
                    <input type="text" class = "text input" placeholder = "Value to Remove">
                </div>
            </div>
            <div class = "box">
                <!-- This is the string that is going to be appended -->
                <!--<div class = "node"><h3 class = "nodeValue">5 </h3></div><h2>&#8594;</h2>-->
                
            </div>
        </div>
    </body>
</html>