<!DOCTYPE HTML>

<html lang="en">
    <head>
        <title>Pawel Linek</title>
        <meta charset="utf-8">
        <meta name="description" content="Portfolio Landing Page">
        <meta name="keywords" content="HTML, CSS, JavaScript">
        <meta name="author" content="Pawel Linek">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" href="../../../styles/general_style.css">
        <link rel="stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">
    </head>
    
    <body>
        <div class="navbar">
            <a id ="navbar-name" href="../../../index.html">Pawel Linek</a>
            <a href="../../../index.html">Home</a>
            <a href="../../about.html">About</a>
            <div class="dropdown">
                <button class="dropbtn">Projects 
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="../project1/project1.html">Linked List Visualizer</a>
                    <a href="../project2/project2.html">Music Making App</a>
                    <!--<a href="../project3/project3.html">Project 3</a>-->
                </div>
            </div> 
            <a href="../../contact.html">Contact</a>
        </div>

    </body>
</html>