.contact-header, .contact-paragraph{
    color: white;
    text-align: center;
    margin-top: 20px;
    font-size: 1.2em;
    padding: 0px 20px;
}

#form{
    width: 500px;
    padding: 20px 0px 20px 0px;
    margin: auto;
    margin-top: 20px;
    border: 1px solid white;
    border-radius: 50%;
}

#form>div{
    display: flex;
    margin: 20px;
    justify-content: center;
}

#form>div>input, #form>div>textarea{
    width: 250px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #999;
    outline: none;
    text-align: center;
}

#form>div>button{
    padding: 10px;
    width: 100px;
    border-radius: 30px;
    border: 1px solid #999;
    outline: none;
    font-size: 14px;
}

#form>div>textarea{
    height: 200px;
}

#form>div>button:focus, #form>div>button:hover, #form>div>input:focus, #form>div>textarea:focus{
    box-shadow: 0 0 5px 0 black;
}

#popupText{
    font-size: 13px;
    padding: 8px;
    font-family: arial;
}

#popupArrow{
    width: 20px;
    height: 20px;
    position: absolute;
    margin: 30px 135px 0px 0px;
    transform: rotate(45deg);
    background-color: white;
    border-top: 1px solid black;
    border-left: 1px solid black;
    z-index: 1;
    
}

#popup{
    height: 40px;
    width: 200px;
    position: absolute;
    margin-top: 40px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    
}

.fa-exclamation-triangle{
    color: red;
    margin: 5px;
}

.warn{
    display: none;
}
